<!DOCTYPE html>
<html>
<head>
    <title>Machine Health Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🔧 Machine Health Monitor</h1>

    <form action="/analyze" method="POST">

        <label>Temperature (°C)</label>
        <input type="number" name="temp" required>

        <label>Vibration</label>
        <input type="number" name="vib" required>

        <label>Pressure</label>
        <input type="number" name="pressure" required>

        <button type="submit">Analyze Machine</button>

    </form>

    {% if result %}
        <div class="result">
            {{ result }}
        </div>
    {% endif %}

</div>

</body>
</html>